<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
    {% for one_user in Proyecto_one %}
    <h1>Bienvenido {{one_user.name}} a Musicaton.cl!</h1>
    {% endfor %}
    <br>
    <a class="btn btn-primary" href="/listen">Descargar Musica</a>
    <br>
    <a class="btn btn-primary" href="/contribute">Contribuir Musica</a>
    <br>
    <a class="btn btn-primary" href="/destroy">LogOut</a>
    <br>
    <p>Reglas:Esta Pagina Web es solo para tu proyecto personal/privado de videojuegos. Por Favor no hagas lo siguiente:
        1. No Hagas tu videojuego público, o si no lo más probable es que te pongas en problemas con la agencia de videojuegos(Nintendo,Playstation,Xbox) y no queremos eso para ti, asi que respeta las reglas!!!
        2. No pagarle a personas por la musica de aca, AKA Scammear. Esta musica es para escuchar de todos los oídos que visiten nuestra pagina web/revisitar la musica de los juegos que jugaron los usuarios.
        3. Cualquier intento de Hackeo resultara en rastreo Anti-VPN y le avisaremos a su policia locla de ir por usted a arrestarlo.
        4. NO SE META CON NUESTROS USUARIOS!!!
        Cualquier Blackmail,extorsion,etc comprobado por nuestro equipo de un usuario a otro resultara en tambien rastreal al malon, e ser arrestado por su policia local, demás de un IP Ban Anti-VPN del sitio.
        No te metas con nosotros.
        5.Diviertete! pero solamente esta regla es opcional claro :P
        Gracias y Feliz Maraton Musical!!!
    </p>
    <br>
</body>
</html>